{%  if page == 'home' %}
Home
{%  else %}
<a href="/">Home</a>
{%  endif %}
|
{%  if page == 'participants' %}
    Participants
{%  else %}
    <a href="/participants">Participants</a>
{%  endif %}
|
{%  if page == 'workshops' %}
    Workshops
{%  else %}
    <a href="/workshops">Workshops</a>
{%  endif %}
|
{%  if page == 'feedback_forms' %}
    FeedBack Forms
{%  else %}
    <a href="/feedback_forms">FeedBack Forms</a>
{%  endif %}
|
{%  if page == 'feedback_responses' %}
    FeedBack Responses
{%  else %}
    <a href="/feedback_responses">FeedBack Responses</a>
{%  endif %}
<a href="/logout">Logout</a>
<br><br>