{%  include 'background.html' %}

{%  if is_admin %}
    <form method="post">
    {% csrf_token %}
        Create Workshop<br><br>
        Type: <select name="type">
        {% for workshop_type in workshop_types %}
            <option value="{{workshop_type}}">{{workshop_type}}</option>
        {% endfor %}
        </select>
        <br><br>
        Date: <input type="date" name="date">
    <input type="submit" name="action" value="Create">
    </form>
{%  endif %}

{%  for workshop in workshops %}
    {{ workshop }}<br>
    {%  if is_admin %}
        <form method="post">
        {%  csrf_token %}
            <input type="text" name="id" value="{{ workshop.id }}" readonly hidden="">
        In Progress: {{ workshop.in_progress }} <input type="submit" name="action" value="Flip Status"><br>
        {%  if workshop.attendant_set.all|length == 0 %}
            <input type="submit" name="action" value="Delete"><br>
        {%  endif %}
    {%  endif %}
    <a href="/signin/{{ workshop.id}}" target="_blank" >Sign-in Link</a>
    <a href="/feedback_form/{{ workshop.id}}" target="_blank" >Feedback Form</a>
    <a href="/workshop_instructions/{{ workshop.id }}" target="_blank" >Participant Instructions</a>
    {%  if is_admin %}
    </form>
    {%  endif %}
    <br>
{%  endfor %}