{%  include 'background.html' %}

<ol>
    <li>Sign-in at <a href="https://wfd.modernneo.com/signin/{{ workshop_id }}">here</a></li>
    <li>Follow Instructions at:
        <ol>
            <li><a href="https://discordpy.readthedocs.io/en/stable/intro.html" target="_blank" >Discordpy Instructions</a></li>
            <li><a href="https://discordpy.readthedocs.io/en/stable/quickstart.html" target="_blank" >Discordpy Quickstart</a></li>
        </ol>
    </li>
    <li>Run the code at <a href="https://github.com/Rapptz/discord.py/blob/master/examples/basic_bot.py" target="_blank"> Discord.py's basic_bot.py</a> locally
        <ol>
            <li>Add a command called <code>echo</code> that just repeats what the user said back at them</li>
            <li>add a command called <code>pong</code> that just responds with pong when the user uses the ping command</li>
            <li>change the commands to be <code>;</code> prefixed</li>
        </ol>
    </li>
    <li>Make following updates to <a href="https://github.com/WorkshopForDummies/discordBot-tutorial" target="_blank">discordBot</a>
        <ol>
            <li>Change the reminder database table so that the reminder content and author is saved to the database rather than the message and channel ID of the reminder.</li>
            <li>Make sure that the command part of the string is not shown in the reminder.</li>
        </ol>
    </li>
</ol>